@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --swiper-navigation-size: 1px;
} */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

main {
    @apply max-w-[1600px] min-h-[100vh] flex flex-col justify-center w-[1320px] m-auto;
    @apply sm:w-[960px] sm:py-[20px];
    @apply md:w-[680px] md:py-[20px];
    @apply lg:w-[960px] lg:py-[20px];
    @apply xl:w-[1260px] xl:py-[20px];
}

/* SWIPER */
.mySwiper {
  @apply md:w-[500px] rounded-[15px];
  @apply md:w-[450px] rounded-[15px];
  @apply lg:w-[730px] rounded-[15px];
  @apply xl:w-[900px];
}

.my-slider {
    max-width: 1300px;
    height: 416px;
    width: 100%;
    border-radius: 15px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 40px;
    border: 1px solid;
    font-size: 15px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 40px;
    border: 1px solid;
    font-size: 15px !important;
    opacity: 1;
    transition: all 0.3s linear;
}

/* SWIPER */
